@import '~styles/main';

.header {
  background-color: @color__black;
  color: @color__white;
  padding: @padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.button {
  padding: @padding / 2;
  color: @color__white;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
