@import '~styles/main';

.wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-size: 120%;
  margin: @padding 0;
}

.input {
  composes: base__input;
  display: block;
  margin-bottom: @padding;
  width: 100%;
}

.button {
  composes: base__button;
}
