@import '~styles/main';

.static {
  margin: 0 -@padding;
  text-align: center;
}

.sticky {
  composes: static;
  background-color: @color__light;
  padding: @padding 0;
  width: 100% !important;
  border-bottom: 1px solid darken(@color__light, 15%);
  font-size: 80%;
  z-index: 9998;
}

.name {
  margin-bottom: @padding;

  .sticky & {
    display: inline;
    margin: 0 @padding--half 0 0;
  }
}

.name--click {
  display: inline;
}

.display {
  composes: base__input;
  user-select: none;
  text-align: center;
  border-top-color: @color__light;
  border-left-color: @color__light;
  border-right-color: @color__light;
  background-color: @color__light;
  width: 50%;
}

.edit {
  composes: display;
  border: 1px solid @color__border;
  background-color: #fff;

  &:focus {
    outline: none;
  }
}

.button {
  composes: base__button;

  & + & {
    margin-left: @padding;
  }
}
