@import '~styles/main';

.input__wrapper {
  margin: @padding 0;
  text-align: center;
}

.input {
  composes: base__input;
  width: 50%;
}

.empty {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
