@import 'variables';

// Base styles for reusable components like form elements.
.base__input {
  padding: @padding--half @padding;
  border: 1px solid @color__border;
  font-family: 'Montserrat', sans-serif;
}

.base__button {
  padding: @padding--half @padding;
  background-color: @color__accent;
  border: none;
  box-shadow: 1px 1px 1px darken(@color__accent, 20%);
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.1s linear;

  > i {
    margin-right: @padding--half;
  }

  &:hover {
    cursor: pointer;
    background-color: darken(@color__accent, 5%);
  }
}
