// Animation durations.
@duration--enter: 150ms;
@duration--leave: 150ms;

// Colors.
@color__black: #343434;
@color__gray: #8E8B82;
@color__yellow: #E9DCBE;
@color__white: #F3F3F3;
@color__red: #F96262;

// Paddings.
@padding: 1rem;

// Loading spinner defaults.
@loading-spinner-size: 1rem;
@loading-spinner-color: rgba(0, 0, 0, 1);
@loading-spinner-border-size: 0.25rem;
@loading-spinner-animation-duration: 1s;
